.ListItem {
  border-bottom: 1px solid #efefef;
  padding: 19px 0;
  display: grid;
  grid-template-columns: 25px auto;
  grid-template-areas: "icon task";
  grid-column-gap: 20px;
  cursor: pointer;
}

.Icon {
  grid-area: icon;
}

.Task {
  grid-area: task;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
}

.Completed {
  text-decoration: line-through;
}

.Locked {
  color: #9b9b9b;
}
